body{
    background-color: #f4f4f4;
}

.color{
    display: flex;
    justify-content: space-evenly;
}

.color-box{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.color1{
    background-color: rgb(255, 0, 0);
}

.color2{
    background-color: hsl(120, 100%, 20%);
}

.color3{
    background-color: #00ff5d;
}

.color4{
    background-color: cyan;
}

.color5{
    background:linear-gradient(90deg,rgb(25, 45, 223) 30%, rgb(92, 92, 18) 60%,rgb(255, 0, 174)) ;
}