body{
    background-color: rgb(223, 221, 226);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

p{
    color: green;
    font-size:16px;
}

h1{
    text-align: center;
    padding: 10px 0px;
    font-size: 1rem;
}

form{
    min-width: 500x;
    margin: auto;
    max-width: 700px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card{
    width: 25%;
    margin: 10px;
    background-color: rgb(234, 230, 238);
    border-radius: 4px;
    padding: 7px;
    box-shadow: 0 2px 5px rgba(204, 186, 97, 0.4);
}

.card:hover, input[type="submit"]:hover{
    transform: scale(1.015);
    transition: all 0.4s ease-in;
}

input[type=submit]{
    display: block;
    margin: auto;
    width: 92%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 8px;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 4px;
    background-color: aliceblue;
    border: none;
    color: rgb(69, 7, 7);
    box-shadow: 0 2px 5px rgba(204, 186, 97, 0.4);
    background: linear-gradient(90deg, rgb(212, 208, 208), rgb(80, 93, 80), rgb(204, 155, 155));
}

input[type=submit]:focus{
    border: rgb(4, 4, 92) solid 1px;
    
}

input[type="submit"]:hover{
    background: linear-gradient(90deg, rgb(100,100,101), rgb(50,27,2), rgb(20,40,30));
    color: white;
}

input[type="checkbox"]:hover{
    transform: scale(1.1);
}

label{
    display: flex;
    font-size: 1.02rem;
    color: rgb(4, 12, 92);
    font-weight: bold;
    justify-content: space-between;
}

input:not([type="submit"]){
    order: 2;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1px slategray solid;
    border-radius: 5px;
}

input:not([type="submit"]):checked{
   background-color: rgb(89, 189, 189);
}

input:not([type="submit"]):checked::after{
    content: "✓";
    display: block;
    text-align: center;
    font-weight: bolder;
    color: blue;
}


@media (max-width: 600px) {
    label {
        font-size: 0.9rem;
    }

    p{
        font-size: 15px;
    }
}




